* {
    padding: 0;
    box-sizing: border-box;
}
@import url("https://use.typekit.net/pjv7hot.css");

body {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* margin: 0px; */
        background-image: url(letras.png);
        background-size: cover;
        /* background-position: center center; */
        /* opacity: 0.5; */
}

header {
    text-align: center;
    margin-bottom: 40px; 
}

.logo-container {
    text-align: center;
    margin-top: 200%; 
    padding-top: 40%;
    z-index: 10;      
}

.logo {
    width: 30%;       
    height: auto;   
}

h1 {
    font-family: 'American Typewriter', serif; 
    font-weight: bold; 
    font-size: 35px; 
    text-align: center; 
    color: white; 
    margin: 0; 
    margin-top:30px;
    padding-top: 20px; 
    letter-spacing: 2px; 
}

h2 {
    font-family: 'Mundial Hair', sans-serif; 
    font-weight: 400; 
    font-size:30px;
    color: #FBB03B; 
    text-align: center; 
    font-size: 20px; 
    margin-top: 80px; 
    letter-spacing: 2px; 
}

h3 {
    font-family: 'American Typewriter', serif; 
    font-weight: 100; 
    font-size:40px;
    color: #FBB03B; 
    text-align: center; 
    margin-top: 80px; 
    margin-bottom: 20px; 
    letter-spacing: 5px; 
}

h4 {
    font-family: 'Mundial Hair', sans-serif; 
    font-weight: 100; 
    font-size:10px;
    color: white; 
    text-align: center; 
    font-size: 20px; 
    margin-top: 50px; 
    margin-bottom: 20px; 
}

h5 {
    font-family: 'Mundial Hair', sans-serif; 
    font-weight: 100;
    color: white;
    text-align: center;
    font-size: 14pt;
}

.top10 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    text-align: center;
    overflow: hidden; 
}

/* Fixed button styles */
.fixed-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    padding: 10px 15px;
    border: 2px solid #ffa600;
    background-color: transparent;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it is above other elements */
}

.fixed-button:hover {
    background-color: #ffa600;
    color:black;
}

#infoTitle {
    font-size: large;
    padding: 1rem 0;
}

/* Popup container styles */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: max-content;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Above the button */
    display: none; /* Initially hidden */
}

.popup-content {
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* Show popup when active */
.popup.active {
    display: block;
}

.group, .uc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}


